<template>
    <div>
        <input type="hidden" name="cupon_id[]" v-model="coupon.id">
        <div class="col-sm-6">
            <h4>Datos del Cupón {{number}}:</h4>
        </div>
        <div class="col-sm-6">
            <div class="text-right">
                <button v-bind:disabled="!deletable" type="button" class="btn btn-danger" v-on:click="deleteSelf">Eliminar</button>
            </div>
        </div>
        <div class="form-group col-md-3 ">
            <label class="control-label">Tipo: </label>
            <select ref="tipos" name="tipos[]" class="form-control select2" v-model="coupon.id_tipo_cupon">
                <option v-for="tipo in tipos" v-bind:value="tipo.id">{{tipo.nombre}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">Adultos: </label>
            <input v-model="coupon.n_adultos" type="number" name="n_adultos[]" class="form-control n_adultos_fields" min="0" max="30">
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">Niños: </label>
            <input v-model="coupon.n_ninos" type="number" name="n_ninos[]" class="form-control" min="0" max="30">
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">Infantes: </label>
            <input v-model="coupon.n_infantes" type="number" name="n_infantes[]" class="form-control" min="0" max="30">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Cupón: </label>
            <input v-model="coupon.cupon" name="cupones[]" id="cupon" class="form-control cupon_fields" type="text"
                   placeholder="Cupón" aria-describedby="inputSuccess2Status">
            <span class="help-block"></span>
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Confirmación: </label>
            <input v-model="coupon.confirmacion" v-bind:disabled="editMode" name="confirmacion[]" class="form-control" type="text"
                   placeholder="Automático">
        </div>

        <div class="form-group col-md-12">
            <label>Observaciones:</label>
            <textarea v-model="coupon.observaciones" class="form-control" name="observaciones[]" rows="3" placeholder="Información adicional"></textarea>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CouponComponent",
        props: {
            coupon: Object,
            tipos: Array,
            name: String,
            number: [Number, String],
            deletable: Boolean,
            editMode: Boolean,
        },
        methods: {
            deleteSelf() {
                this.$emit('delete');
            }
        },
        mounted() {
            const el = this.$refs.tipos;
            window.$(el).select2();
        }
    }
</script>

<style scoped>

</style>