<template>
    <div ref="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>Cupones</h3>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="text-right">
                    <button type="button" class="btn btn-default" v-on:click="addNewCoupon">Agregar cupón</button>
                </div>
            </div>
        </div>
        <div class="row">
            <coupon-component v-for="(coupon, index) in coupons" v-bind:key="index" v-bind:tipos="tiposObj"
                              v-bind:number="index + 1" v-bind:coupon="coupon" v-bind:deletable="coupons.length !== 1"
                              v-on:delete="deleteChild(index)" v-bind:edit-mode="editMode"></coupon-component>
        </div>
    </div>
</template>

<script>
    import CouponComponent from './CouponComponent';

    export default {
        name: "CouponListComponent",
        components: {
            CouponComponent,
        },
        data() {
            let cupons = null;
            if (this.cupones !== undefined)
                cupons = JSON.parse(this.cupones);

            return {
                blockRemoval: true,
                numero: 1,
                coupons: cupons || [],
                tiposObj: JSON.parse(this.tipos),
            }
        },
        watch: {
            coupons() {
                this.blockRemoval = this.coupons.length <= 1;
            }
        },
        methods: {
            addNewCoupon() {
                //TODO: Check if it is necessary
                //let checkEmptyLines = this.coupons.filter(coupon => coupon.n_adultos === 0);

                //if (checkEmptyLines.length >= 1 && this.coupons.length > 0)
                //    return;

                this.coupons.push({
                    id: -1,
                    id_tipo_cupon: 1,
                    n_adultos: 0,
                    n_ninos: 0,
                    n_infantes: 0,
                    cupon: "",
                    confirmacion: "",
                    observaciones: "",
                });
            },
            deleteChild(couponId) {
                if (!this.blockRemoval) this.coupons.splice(couponId, 1);
            }
        },
        mounted() {
            // Create a new coupon field.
            if (this.coupons.length === 0)
                this.addNewCoupon();
        },
        props: {
            tipos: String,
            cupones: String,
            editMode: Boolean,
        },
    }
</script>

<style scoped>

</style>